# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env*
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/
*.lcov

# Dipendenze
node_modules/

# Coverage
coverage/

# Logs
logs/
*.log
npm-debug.log*

# Cache
.npm/
.cache/
.eslintcache

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db